{% extends "layouts/base.html" %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <h2 class="text-center mb-4">הרשמה</h2>
        <form method="POST">
            <div class="mb-3">
                <label class="form-label">שם פרטי</label>
                <input type="text" name="first_name" class="form-control" required>
            </div>
            <div class="mb-3">
                <label class="form-label">שם משפחה</label>
                <input type="text" name="last_name" class="form-control" required>
            </div>
            <div class="mb-3">
                <label class="form-label">אימייל</label>
                <input type="email" name="email" class="form-control" required>
            </div>
            <div class="mb-3">
                <label class="form-label">סיסמה</label>
                <input type="password" name="password" class="form-control" required>
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-success">הרשמה</button>
            </div>
        </form>

        <div class="text-center mt-3">
            <a href="{{ request.referrer or url_for('main.index') }}" class="btn btn-outline-light btn-sm">⬅ חזור</a>
        </div>
    </div>
</div>
{% endblock %}
